
.container{
    width:100%;
    background-color:greenyellow;

}

.droparea{
    width:20%;
    height:18%;
    background-color:gray;
    margin:1px ;
    float:left;

}
.imgContainer{
    width:100%;
    /*height:850px;*/
    margin:0px auto;
    float:right;
    background-color:blue;
}
.yellow{
    background-color:yellow;
}

.hover {
    
    background-color:red;
}

.imgContainer img{
   margin:1px;
   height:18%;
}

.droparea img{
   margin:1px;
   width:100%;
   height:100%;
}

